<!DOCTYPE html>
<html>
<head>
</head>
<body th:fragment="sidebar">
	<div class="row">
		<!-- uncomment code for absolute positioning tweek see top comment in css -->
		<!-- <div class="absolute-wrapper"> </div> -->
		<!-- Menu -->
		<div class="side-menu">

			<nav class="navbar navbar-default" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<div class="brand-wrapper">
						<!-- Brand -->
						<div class="brand-name-wrapper">
							<a class="navbar-brand" href="#"> SideBar </a>
						</div>
					</div>
				</div>
				<!-- /.navbar-collapse -->
			</nav>

		</div>

	</div>
	<script>
		$(function() {
			$('.navbar-toggle').click(
					function() {
						$('.navbar-nav').toggleClass('slide-in');
						$('.side-body').toggleClass('body-slide-in');
						$('#search').removeClass('in').addClass('collapse')
								.slideUp(200);

						/// uncomment code for absolute positioning tweek see top comment in css
						//$('.absolute-wrapper').toggleClass('slide-in');

					});

			// Remove menu for searching
			$('#search-trigger').click(function() {
				$('.navbar-nav').removeClass('slide-in');
				$('.side-body').removeClass('body-slide-in');

				/// uncomment code for absolute positioning tweek see top comment in css
				//$('.absolute-wrapper').removeClass('slide-in');

			});
		});
	</script>
</body>
</html>